@use "../abstracts" as *;

.hero {
  width: 100%;
  position: relative;
  background-color: #fff;
  margin-bottom: 40px;

  &__container {
    padding: 0; // Remove container padding if we want the image to span fully inside the container width
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
}
