@use "../abstracts" as *;
@use "sass:map";

.layout-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;

  @media (min-width: map.get($breakpoints, "medium")) {
    flex-direction: row;
    align-items: flex-start;
  }

  &__content {
    flex: 1;
    min-width: 0; // Prevent flex item from blowing out
  }

  &__sidebar {
    width: 100%;

    @media (min-width: map.get($breakpoints, "medium")) {
      width: 260px;
      flex-shrink: 0;
    }
  }
}
