@use "../abstracts" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  transition: opacity 0.3s ease;
  border-radius: 3px;

  &:hover {
    opacity: 0.8;
  }

  &__icon {
    font-size: 10px;
    margin-right: 5px;
  }

  &--primary {
    background-color: $button-color;
    color: #fff;
  }

  &--small {
    padding: 5px 15px;
    font-size: 12px;
  }

  &--block {
    display: flex;
    width: 100%;
    padding: 5px 10px;
  }

  &--outline-grey {
    background: linear-gradient(to top, #dbdada, #fff);
    color: $text-color;
    border: 1px solid $border-color;
    border-radius: 20px;
    padding: 5px 15px; // Add some horizontal padding
    font-size: 13px;
    letter-spacing: 1px;
    font-family: $title-font-stack;
    font-weight: 500;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }

    .button__icon {
      width: 14px;
      height: 14px;
      margin-right: 5px;
    }
  }

  &--section {
    min-width: 167px;
    padding: 10px 15px;
  }

  &--side-banner {
    width: fit-content;
    justify-content: flex-start;
  }
}
