@use "../abstracts" as *;

.service-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 10px;

  .card-service {
    flex: 1 1 calc(33.333% - 15px);
    min-width: 0; // allow shrinking
  }
}

.service__action {
  text-align: right;
  margin-bottom: 40px;
}

.card-service {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__image-wrapper {
    margin: 0;
    position: relative;
    width: 100%;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    min-height: 52px;
    padding: 5px;
    @include striped-bg(transparent, 2px, 4px);
    font-size: 15px;
    font-family: $title-article-font-stack;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    line-height: 1.4;
    color: $text-color;

    //căn giữa
    display: flex;
    align-items: center;
    justify-content: center;

    //stroke
    text-shadow:
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }

  &__body {
    padding: 10px 0;
    flex-grow: 1;
  }

  &__desc {
    font-size: 13px;
    color: $text-color;
    line-height: 1.6;
    margin: 0;
  }
}
