@use "../abstracts" as *;
@use "sass:map";

.global-nav {
  background-color: #f7f7f7; // default fallback
  background: linear-gradient(to bottom, #fdfdfd, #eaeaea);
  box-shadow: 0px 2px 5px 0px #868686;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 10;

  @media (max-width: map.get($breakpoints, "medium")) {
    border: none;
    box-shadow: none;
    background: #fff;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: stretch;
    width: 100%;

    @media (max-width: map.get($breakpoints, "medium")) {
      flex-direction: column;
      align-items: stretch;
      gap: 10px;
    }
  }

  &__item {
    flex: 1;
    text-align: center;
    position: relative;
    border-right: 1px solid #ccc;
    font-weight: bold;

    @media (max-width: map.get($breakpoints, "medium")) {
      border: 1px solid #ccc;
    }

    &:first-child {
      border-left: 1px solid #ccc;
    }

    &--active {
      background: linear-gradient(to bottom, #fdfdfd, #eaeaea);

      .global-nav__link {
        font-weight: bold;
        color: #000;
      }
    }

    &--has-dropdown {
      &:hover {
        .mega-menu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }

      &.is-open {
        .mega-menu {
          @media (max-width: map.get($breakpoints, "medium")) {
            display: block;
          }
        }
      }
    }
  }

  &__link {
    display: block;
    color: $text-color;
    padding: 17px 0;
    text-decoration: none;
    font-size: 16px;
    font-family: $title-font-stack;
    transition:
      background-color 0.3s,
      color 0.3s;

    &:hover {
      text-decoration: none;
      font-weight: bold;
    }
  }
}
