@use "../abstracts" as *;

.news {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 12px 10px;
    border-bottom: 1px dotted #ccc;

    &:first-child {
      padding-top: 0;
    }
  }

  &__link {
    display: flex;
    align-items: baseline;
    font-size: 13px;
    color: $text-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__date {
    margin-right: 15px;
    white-space: nowrap;
  }

  &__text {
    flex: 1;
  }
}
