@use "../abstracts" as *;

.news {
  &__item {
    padding: 12px 10px;
    border-bottom: 1px dotted #ccc;
    font-size: 13px;
    display: flex;
    align-items: baseline;

    &:first-child {
      padding-top: 0;
    }
  }


  &__date {
    margin-right: 15px;
    white-space: nowrap;
  }

  &__text {
    flex: 1;

    &:hover {
      text-decoration: underline;
    }
  }
}
