@use "../abstracts" as *;

.section-title {
  font-size: 17px;
  letter-spacing: 2px;
  font-family: $font-title;
  font-weight: 500;
  color: $text-color;
  margin: 0 0 20px 0;
  padding: 10px 10px;
  border-top: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-bottom: 2px solid $red-color;
  background: linear-gradient(to bottom, #fff, #f2f1f1);
}
