// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
  font-family: "Century Gothic";
  src: url("../../src/assets/fonts/centurygothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Meiryo";
  src: url("../../src/assets/fonts/meiryo.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hiragino-Kaku-Gothic-ProN-W3";
  src: url("../../src/assets/fonts/Hiragino-Kaku-Gothic-ProN-W3.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "A-OTF-Ryumin-Pro-L-KL";
  src: url("../../src/assets/fonts/A-OTF-Ryumin-Pro-L-KL.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
