@use "../abstracts" as *;

.section-title {
  font-size: 19px;
  font-weight: normal;
  margin: 0;
  padding: 8px 0 0;
  position: relative;
  border-bottom: 1px solid $light-orange;
  margin-bottom: 25px;
  font-family: $hirakakustd-w3-font-stack;

  &::after {
    content: "";
    display: block;
    width: 20%;
    height: 2px;
    background-color: $brand-orange;
  }
}
