@use "../abstracts" as *;

.shop-widget {
  border: 5px solid #ddd;
  margin: 0 0 30px 0;
  background-color: #fff;
  width: 100%;
  /* Thu nhỏ phần width lại */
  max-width: 230px;
  /* Cân đối với các sidebar banners */

  &__header {
    padding: 15px;
  }

  &__title {
    margin: 0;
    font-size: 18px;
    color: $text-color;

    &-sub {
      font-size: 14px;
      font-weight: normal;
    }
  }

  &__body {
    padding: 0 15px 15px 15px;
  }

  &__address {
    font-size: 13px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 15px;
  }

  &__phone {
    display: flex;
    align-items: center;
    color: #5a3a28;
    margin-bottom: 15px;
  }

  &__phone-icon {
    width: 24px;
    height: auto;
    margin-right: 10px;
  }

  &__phone-number {
    font-size: 24px;
    white-space: nowrap;
    font-family: $century-gothic-font-stack;
  }

  &__hours {
    font-size: 12px;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 15px;
  }

  &__map {
    margin-bottom: 12px;
  }

  .button--block {
    width: 100%;
  }
}