@use "../abstracts" as *;

$font-title: 14px;
$font-link: 12px;

.sidebar-nav {
  position: relative;
  z-index: 0;
  padding: 8px 8px 12px 8px;
  margin-bottom: 30px;
  border: 6px double #f7e8d7;
  border-radius: 3px;
  max-width: 230px;


  &::after {
    content: "";
    position: absolute;
    top: -7px;
    right: 10%;
    width: 15%;
    height: 5px;
    background-color: #ffffff;
    z-index: -1;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $brand-orange;
      margin: 0 auto 0;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {}

  &__link {
    padding: 12px 0 0 5px;
    margin-bottom: 5px;
    color: $text-color;
    text-decoration: none;
    font-size: $font-title;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c9c9c9;

    &::before {
      content: "○";
      font-size: 10px;
      color: $brand-orange;
      -webkit-text-stroke: 2px $brand-orange;
      padding: 0 5px 0 0;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &__sublist {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    gap: 5px;
  }

  &__sublink {
    display: block;
    color: $text-color;
    text-decoration: none;
    font-size: $font-link;
    padding-left: 20px;

    display: flex;
    align-items: center;

    &::before {
      content: "▶";
      font-size: 8px;
      padding-right: 5px;
      color: $brand-orange;
    }

    &:hover {
      background-color: #f9f9f9;
      color: $brand-orange;
    }
  }
}