@use "../abstracts" as *;

$font-title: 14px;
$font-link: 12px;

.sidebar-nav {
  padding-bottom: 12px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  background-color: #fff;

  &__title {
    margin: 0;
    padding: 12px;
    font-size: 16px;
    text-align: center;
    font-weight: normal;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $brand-orange;
      margin: 10px auto 0;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
  }

  &__link {
    display: block;
    padding: 12px 15px 5px 30px;
    color: $text-color;
    text-decoration: none;
    position: relative;
    font-size: $font-title;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $brown-color;
      margin: 10px auto 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      border: 2px solid $brand-orange;
      border-radius: 50%;
      background-color: #fff;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &__sublist {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__sublink {
    display: block;
    padding: 0 15px 0 40px;
    color: $text-color;
    text-decoration: none;
    font-size: $font-link;
    position: relative;

    &::before {
      content: "▶";
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 10px;
      color: $brand-orange;
    }

    &:hover {
      background-color: #f9f9f9;
      color: $brand-orange;
    }
  }
}
