/* Wrapping for element css */
body{
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

main{
  background-color: #fff;
  width: 363px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End wraping for element css */

/* General css for all element in main-content */
.mt-0{
  margin-top: 0;
}
.mt-5{
  margin-top: 5px;
}

.mt-10{
  margin-top: 10px;
}
/* End general css for all element in main-content */

/* Wraping for main-content css */
.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 316px;
  min-height: 733px;
  background-color: #e6f3fb;
  margin: 20px 0;
}

.hr-line{
  width: auto;
  border: none;
  border-top: 1px solid #000;
  margin: 10px 10px;
  align-self: stretch;
}

/* Wraping for blog-content css */
.blog-content{
  width: 296px;
  height: auto;
}

.blog-content h4{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: #000;
  margin-bottom: 0;
}

.blog-detail{
  width: 296px;
  height: auto;
  background-color: #fff;
  border: none;
  border-top: 4px solid #f7a418;
  display: flex;
  flex-direction: column;
}

/* Wrapping for blog-detail__content */
.blog-detail__content{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.blog-detail__pic{
  margin: 0;
  display: flex;
  align-items: center;
}

.blog-detail__pic img{
  width: 156px;
  height: auto;
  margin: 0 10px;
}

.blog-detail__info{
  margin: 10px 5px;
}

.blog-detail__info a{
  color: #0a6395;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.blog-detail__info a:hover{
  text-decoration: underline;
}

.blog-detail__info p{
  margin: 0;
}

.blog-detail__info span{
  font-style: italic;
}

/* end wrapping for blog-detail__content-text */

/* Wrapping for blog-detail__content-text */
.blog-detail__text{
  height: auto;
  width: 100%;
}

.blog-detail__links{
  height: auto;
  width: 100%;
  margin-top: 5px;
}

.blog-detail__links a{
  color: #0a6395;
  margin: 0;
  background-color: #f9f1c2;
  border: 1px solid #fff;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.blog-detail__links a:hover{
  text-decoration: underline;
}

.blog-detail__links span{
  font-weight: bold;
}
/* end wrapping for blog-detail-links */

/* Wrapping css horoscopes */
.blog-detail__content--horoscopes{
  height: auto;
}

.blog-detail__pic--horoscopes{
  display: flex;
  align-items: flex-start;
  height: auto;
  margin-top: 20px;
}

.blog-detail__pic--horoscopes img{
  width: 76px;
  height: auto;
}

.blog-detail__info--horoscopes{
  height: auto;
  margin: 20px 10px 0;
}

.blog-detail__info--horoscopes h4{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color:#000;
  margin: 0;
}

.blog-detail__info--horoscopes h5{
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #595959;
  margin: 0;
}

.blog-detail__info--horoscopes p{
  margin: 15px 0;
}

.blog-detail__info--horoscopes a{
  color: #0a6395;
  text-decoration: underline;
}

.blog-detail__footer-img{
  padding: 0;
  width: 297px;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: auto;
  position: relative;
}

.blog-detail__footer-img img{
  display: block;
  padding: 0;
  width: 297px;
  height: auto;
}

.blog-detail__footer-text {
  position: absolute;
  left: 20px;
  font-size: 11px;
}

.blog-detail__footer-text a{
  font-weight: bold;
  text-decoration: none;
  color: #0a6395;
  pointer-events: auto;
  display: block;
}

.blog-detail__footer-text a:hover{
  text-decoration: underline;
}
/*End of wrapping css horoscopes */

/* Wrapping for blog-detail--news */
.blog-content--news{
  margin-top:20px;
  height: auto;
}

.blog-detail--news{
  display: flex;
  flex-direction: row;
  height: auto;
}

.blog-detail__content--news{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  font-family: 'Times New Roman', Times, serif;
}

.blog-detail__content--news p{
  margin: 20px 20px 10px;
  width: 125px;
  height: auto;
}

.blog-detail__content--news a{
  color: #0a6395;
  text-decoration: none;
  align-self: flex-start;
  margin-left: 20px;
}

.blog-detail__content--news a:hover{
  text-decoration: underline;
}

.blog-detail__img{
  width: 116px;
  height: auto;
  align-self: center;
  margin: 0;
}
/* End of wrapping css blog-detail--news */

/* Start blog-content-competions */
.blog-content--competions{
  height: auto;
  margin-bottom: 20px;
}

.blog-detail--competions{
  height: auto;
  border:#595959 1px solid;
  display: flex;
  justify-content: space-around;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px 0;
}

.blog-detail__text--competions p{
  margin: 0 10px;
  color: #4d5d73;
  background-color: #fff;
}

/*End of wrapping css blog-content-competions */






























