/* start element css */
body{
    background-color: #121214;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

main{
    display: flex;
    width: 700px;
    height: 585px;
}

p, li{
    color: #595959;
}

hr{
    border: none;
    border-top: 1px dotted;
}
/* end element css */


/* start general class css */
.ml-20{
    margin-left: 20px;
}

.mg-pd-0{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
/* end general class css */


/* start main-content */
.main-content{
    width: 66%;
    margin-right: 30px;
    margin-top: 50px;
}

/* start sec-content */
.sec-content{
    width: 100%;
}

.sec-info{
    display: flex;
    width: 100%;
    gap: 20px;
}

.info-content{
    flex: 2;
}

.info-content-text{
    margin-bottom: 0px;
}

.pic-info{
    flex: 1;
}

.pic-info img{
    width: 129px;
    height: 92px;
}
/* end sec-content */

/* start sec-list */
.sec-list{
    margin-top: 100px;
}

.sec-list h4,
.sec-list p
{
    margin: 0px;
    padding: 0px;
}

.sec-list ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-left: 0px;
    height: 125px;
    gap: 15px;
    list-style: none;
}

.sec-list ul li a{
    color:#595959;
}

.sec-list ul li::before{
    content: "►";
    margin-right: 5px;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
}
/* end sec-list */
/* end main-content */


/* start btn-more */
.btn-more{
    text-decoration: none;
    color: white;
}

.btn-more::before{
    display: inline-block;
    content: url(../images/icn_arr.png);
    margin-right: 5px;
}
/* end btn-more */

/* start aside card */
.card{
    background-color: #232227;
    width: 34%;
    height: 386px;
    display: flex; 
    flex-direction: column;
    gap: 0px;
    align-items: center;
    align-self: flex-start;
    justify-content: space-around;
    margin-top: 50px;
}

.card-info{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 100%;
}

.hr-line{
    border: none;
    border-top: 1px solid;
    width: 80%;
    align-self: center;
}

.card-info h4,
.card-info p
{
    align-self: flex-start;
    margin: 0px 20px;
}

.card-pic{
    width: 100%;
    margin-bottom: 25px;
    margin: 0px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-pic img{
    width: 174px;
    height: 96px;
}

.card .btn-more{
    align-self: flex-start;
    margin-top: 47px;
    margin-left: 20px;
}

.card-text-sub{
    color: white;
    font-weight: bold;
}

.card-text{
    color: #767884;
}
/* end aside card */
