// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Century Gothic font family
/// @type List
$century-gothic-font-stack:
  "Century Gothic", "Helvetica Neue Light", "Helvetica Neue", "Helvetica",
  "Arial", sans-serif !default;

/// Meiryo font family
/// @type List
$meiryo-font-stack:
  "Meiryo", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial",
  sans-serif !default;

/// HiraKakuStd-W3 font family
/// @type List
$hirakakustd-w3-font-stack:
  "Hiragino-Kaku-Gothic-ProN-W3", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;

/// A-OTF-Ryumin-Pro-L-KL font family
/// @type List
$a-otf-ryumin-pro-l-kl-font-stack:
  "A-OTF-Ryumin-Pro-L-KL", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;

/// Copy text color
/// @type Color
$text-color: #66402b !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;


/// Dark grey
$dark-grey: rgb(68, 68, 68) !default;

/// Brand Orange (Header nav active state, phone number)
$brand-orange: #f0831e !default;


/// Primary light background (Header top)
$nav-bg-color: #fbfbfc !default;

/// Footer light background
$footer-bg-color: #fdebd5 !default;

/// Border color (nav separators)
$border-color: #ccc6c1 !default;


$light-orange: #fdebd5 !default;

$button-color: #fc9204;

/// Container's maximum width
/// @type Length
$max-width: 960px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
) !default;

// / Relative or absolute URL where all assets are served from
// / @type String
// / @example scss - When using a CDN
// /   $base-url: 'https://cdn.example.com/assets/';
$base-url: "/assets/" !default;

