@use "../abstracts" as *;
@use "sass:map";

.sidebar {
  &__banner {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;

    img {
      display: block;
      width: 100%;
      height: auto;
      transition: opacity 0.3s ease;
    }

    &:hover img {
      opacity: 0.8;
    }
  }
}

.customer-voices {
  margin-bottom: 20px;

  &__title {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin: 0 0 5px 0;
    color: $text-color;
    font-family: $title-font-stack;
    text-align: center;
    border-bottom: 2px solid $red-color;
    padding: 0 5px 5px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0 0 0 5px;
    font-family: $ms-gothic-font-stack;
  }

  &__item {
    font-size: 12px;
    margin-bottom: 5px;
    color: $text-color;

    //xử lí hover text
    position: relative;
    padding-left: 15px;
    display: block;
    width: fit-content;

    &::before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      width: 0;
      height: 0;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 5px solid $text-color;
    }

    a {
      text-decoration: none;
      color: $text-color;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.insurance-banner {
  background-color: $yellow-color;
  margin-bottom: 20px;
  font-family: $title-article-font-stack;
  font-weight: 500;

  &__inner {
    border: 3px solid $red-color;

    a {
      text-decoration: none;
      color: $text-color;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__content {
    border: 1px solid #fff;
    padding: 15px 10px;
    text-align: center;
  }

  &__title {
    font-size: 15px;
    color: $red-color;
    margin: 0 0 5px 0;
    white-space: nowrap;
    @include text-stroke(#fff, 1.5px);
  }

  &__subtitle {
    font-size: 12px;
    color: $text-color;
    margin: 0;
    @include text-stroke(#fff, 1.5px);
  }
}

.area-widget {
  background-color: $side-bar-info-bg-color; // #fff0b2
  padding: 15px;
  font-size: 12px;

  &__title {
    font-weight: bold;
    margin: 0 0 2px 0;
  }

  &__desc {
    margin: 0 0 10px 0;
    line-height: 1.4;
  }

  &__item {
    margin-bottom: 5px;
    position: relative;
    display: flex;
    justify-content: center;

    img {
      display: block;
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }

  &__overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  &__footer {
    margin: 10px 0 0 0;
    font-weight: bold;
    letter-spacing: 1.25px;
  }
}
